@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Bilder/green-fir-christmas-background-618lo5q718exbmdu.jpg)
}

.kontainer {
    text-align: center;
}

h1 {
    font-family: "Mountains of Christmas", serif;
    color: yellow;
}

ul {
    display: flex;
    margin: 20px auto;
    width: 300px;
}

li {
 list-style-type: none;   
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #091540 ;
    padding: 10px;
    border-radius: 3px;
    width: 140px;
    display: inline-block;
    box-shadow: 1px 1px #999;
    text-align: center; 
    margin-right: 10px;
    
}

.box {}

h2 {
    color: yellow;
    margin-top: 25px;
    font-family: "Mountains of Christmas", serif;
}

form {
   
    /* Alice Blue */
    padding: 20px;
    border-radius: 10px;
}

label {
    color: #228b22;
    /* Forest Green */
}

textarea {
    border: 2px solid #228b22;
    border-radius: 5px;
}

button {
    background-color: #dc143c;

    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 295px);
    gap: 10px;

}

.day {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;

}

.day.open {
    background-color: #00ff00;
    color: black;
}
textarea{

}